spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mobilidade_dw
    username: postgres
    password: vini
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  jackson:
    serialization:
      INDENT_OUTPUT: true

server:
  port: 8081
